In [ ]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

:

In [ ]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2014_FIFA_World_Cup')

:

In [19]:
#A HASTA LA H
# 11  ---- 7*8 + 11 = 67
todas_tablas[11]
todas_tablas[18]
todas_tablas[25]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts
0    1     Colombia    3  3  0  0   9   2  +7    9
1    2       Greece    3  1  1  1   2   4  −2    4
2    3  Ivory Coast    3  1  0  2   4   5  −1    3
3    4        Japan    3  0  1  2   2   6  −4    1

In [27]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2014_FIFA_World_Cup')

dict_tablas = {}
for letra, i in zip(alfabeto, range(11,67,7)):
    df = todas_tablas[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tablas[f'Grupo {letra}'] = df

   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Brazil (H)    3  2  1  0   7   2  +5    7
1    2      Mexico    3  2  1  0   4   1  +3    7
2    3     Croatia    3  1  0  2   6   6   0    3
3    4    Cameroon    3  0  0  3   1   9  −8    0

In [ ]:
with open('dict_table','wb') as output:
    pickle.dump(dict_tablas, output)